<footer>
    <div class="container footer" id="footer">
        <p id="copyright">
            Copyright © Ricky Lambert <%= currentYear %>
        </p>
    </div>
</footer>

<script src="/js/scripts.js"></script>
</body>

</html>